@import "/src/themes/theme.scss";

.main {
  display: flex;
  padding-left: 12em;
}

.mainClose {
  display: flex;
  padding-left: 3em;
}

.navbar {
  background-color: $primary--light;
}

.navbarClose {
  cursor: pointer;
  background-color: $primary--light;
  &:hover {
    background-color: #cdd8e4;
  }
}

.header {
  width: auto;
  padding: 10px 20px;
  font-weight: bold;
  font-size: x-large;
  background-color: $primary;
  text-shadow: 1px 1px 2px rgb(254, 168, 132);
}
