@import "/src/themes/theme.scss";

.main {
  display: flex;
  padding-left: 16.5em;
  // 神奇的height設定，讓scroll bar出現
  height: 1px;
  background-image: -moz-element();
}

.mainClose {
  display: flex;
  padding-left: 3em;
  // 神奇的height設定，讓scroll bar出現
  height: 1px;
  background-image: -moz-element();
}

.navbar {
  background-color: $primary--light;
}

.navbarClose {
  background-color: $primary--light;
  &:hover {
    background-color: #cdd8e4;
  }
}

.header {
  padding: 20px;
  color: $white;
  font-weight: bold;
  background-color: $primary;
}
