@import "./themes/theme.scss";

* {
  letter-spacing: 0.8px;
  box-sizing: border-box;
  //在ig文章看到這個css覺得很可愛><
  caret-color: orange;
  .fc-col-header-cell {
    background-color: $primary--orange;
    a {
      color: $white;
    }
  }
  .fc-button-group button {
    color: black !important;
    background: none !important;
    border: none !important;
  }
  .fc tr {
    .fc-daygrid-day-number {
      margin: 5px;
      color: $primary--orange;
      border-radius: 50%;
      font-size: small;
      font-weight: 600;
    }
    .fc-day-today {
      background-color: transparent !important;
      .fc-daygrid-day-number {
        margin: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        color: $white;
        background-color: $primary--orange;
        border-radius: 50%;
        font-size: small;
        font-weight: 600;
      }
    }
  }
}

::-webkit-scrollbar {
  /* y軸scroll的寬度  */
  width: 10px;
  /* x軸scroll的高度  */
  height: 10px;
  /* 透明背景 */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* 滾動條的背景色 */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
