* {
  overflow: hidden;
}

::-webkit-scrollbar {
  /* y軸scroll的寬度  */
  width: 10px;
  /* x軸scroll的高度  */
  height: 10px;
  /* 透明背景 */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* 滾動條的背景色 */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
