$primary: #4592af;
$primary--light: #e4f1fe;
$primary--dark: #40819b;
$primary--red: #be3144;
$primary--orange: #d55b3e;

$white: #fffdfb;
$blue: #00bbf0;
$gray--light: #f9f5f0;
$gray-dark: #5f6769;

// $theme-gray-color: 
