.taskTitle {
  flex: 2;
  margin: 0 4px;
  textarea {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 4px 8px;
    &:focus {
      cursor: auto;
      box-shadow: inset 0 0 0 1px #00bbf0;
      background-color: #f9f5f0;
    }
  }
}
