.container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  gap: 10px;

  .columnContainer {
    width: 300px;
    background: #4592af;
    padding: 8px 2px 4px 5px;
    border-radius: 10px;
    max-height: calc(100% - 5px);
  }
}

.taskTitleContainer {
  padding: 0 2px;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
}

.taskTitle {
  margin: 0 4px;
  flex: 2;
  background: transparent;
  input {
    background-color: #4592af;
    border: none;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    &:focus {
      color: gray;
      border: 3px solid #a6e4e7;
      background-color: #f9f5f0;
    }
  }
}

.taskContainer {
  overflow-x: hidden;
  overflow-y: auto;
  // margin: 4px;
  padding: 2px 4px;
  gap: 8px;
}

.actionIcon {
  &:hover {
    background-color: #4589a4;
  }
}

.addButtonContainer {
  padding: 0px 4px 4px;
  overflow: visible;
}
