.container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  gap: 10px;

  .columnContainer {
    width: 300px;
    background-color: #4592af;
    padding: 12px 2px 12px 5px;
    border-radius: 10px;
    max-height: calc(100% - 20px)
  }
}

.taskTitle {
  background: transparent;
  input {
    background-color: #4592af;
    border: none;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    &:focus {
      color: gray;
      border: 3px solid #a6e4e7;
      background-color: #f9f5f0;
    }
  }
}

.taskContainer {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 4px;
  padding: 2px 4px;
  gap: 8px;
}