@import '/src/themes/theme.scss';

.taskContainer {
  background: $gray--light;
  padding: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  &:hover {
    outline: 3px solid $blue;
    cursor: pointer;
  }
}