@import "/src/themes/theme.scss";

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.loginPageContainer {
  border-radius: 20px;
  height: 100vh;
}

.layerContainer {
  position: relative;
  background-image: url("../../public/home2.jpg");
  width: 100%;
  background-size: cover;
  opacity: 0.8;
  .layer {
    margin-top: 10px;
    margin-left: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    color: #000000;
    letter-spacing: 10px;
    animation: shake 5s infinite;
  }
}

.loginMain {
  position: absolute;
  top: 5em;
  right: 5em;
  width: 30%;
  min-width: 300px;
  max-width: 100%;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 0 5px 1px #898989;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  // loginMain底下的子元素設置
  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a {
  color: #0052cc;
  text-decoration: none;
}

.loginText {
  text-align: center;
}
